#binaries
./cmd/**/blugeon-client
./cmd/**/bludgeon-client.exe

#configuration
!./cmd/**/config/.gitkeep

#data
!.cmd/**/data/.gitkeep

# Dependency directories (remove the comment below to include it)
# vendor/