# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#vs_code stuff
__debug_bin
.vscode/*

#swagger files
**/swagger.yaml
**/swagger.json

#temporary files
tmp/*
!tmp/.gitkeep
internal/data/*
!internal/data/.gitkeep