#binaries
./cmd/bludgeon-server/bludgeon-server
./cmd/bludgeon-server/bludgeon-server.exe

#configuration
!./cmd/**/config/.gitkeep
!./cmd/**/config/bludgeon_server_configuration-default.json

#data
!./cmd/**/data/.gitkeep

# Dependency directories (remove the comment below to include it)
# vendor/